src/main/resources/purchase_request.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Purchase">
        <xs:complexType>
            <xs:all>
                <xs:element type="xs:long" name="id"/>
                <xs:element type="xs:long" name="purchase_item"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="lastname"/>
                <xs:element type="xs:int" name="age"/>
                <xs:element type="xs:int" name="count"/>
                <xs:element type="xs:float" name="amount"/>
                <xs:element type="xs:date" name="purchase_date"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>
